

NET "clk" LOC = B8;

NET "rst" LOC = G12;
NET "print" LOC=C11;

NET "cea" LOC = K14;
NET "ceb" LOC= M13;
NET "cec" LOC =J12;
NET "ced" LOC = F12;


NET "led<0>" LOC =L14;
NET "led<1>" LOC =H12;
NET "led<2>" LOC =N14;
NET "led<3>" LOC =N11;
NET "led<4>" LOC =P12;
NET "led<5>" LOC =L13;
NET "led<6>" LOC =M12;



NET "key<0>" LOC =P11;
NET "key<1>" LOC =L3;
NET "key<2>" LOC =K3;
NET "key<3>" LOC =B4;
NET "key<4>" LOC =G3;
NET "key<5>" LOC =F3;
NET "key<6>" LOC =E2;
NET "key<7>" LOC =N3;